.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.header a {
  margin: 0 10px;
}

.navLink{
  background-color: #abdef9;
  color: black;
  border: 1px solid black;
  font-size: 1.3em;
  padding: 5px 15px;
  margin: 10px 2px;
  padding: 5 10px;
  border-radius: 5px;
}